---
import SectionTitle from "@/components/ui/section-title.astro";
import FeaturesStats from "../features/FeaturesStats.astro";
---

<section
  class="overflow-visible rounded-3xl border-2 border-zinc-200 bg-white px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <!-- <SectionTitle
    title="Supply & Logistics"
    subTitle="Our robust supply chain ensures timely delivery of products across Europe. With a focus on efficiency and reliability, Sallora is your go-to partner for consistent product availability."
  /> -->
  <div class="grid grid-cols-2 gap-8">
    <div class="content-center">
      <p class="text-5xl font-bold text-green-700">
        Your Trusted Supplier of Salloura and Asala Food Products Across Europe
      </p>
      <p class="mt-3 text-pretty font-light">
        We are proud to be the sole supplier of Salloura products across Europe,
        bringing you the finest selection of authentic Syrian sweets and
        delicacies straight from the renowned Salloura brand. Known for its rich
        heritage and uncompromising quality, Salloura has been a household name
        for generations. Experience the perfect blend of tradition and flavor,
        available only through our trusted distribution. Whether you're craving
        classic baklava, maamoul, or any of Salloura's signature treats, we
        ensure every product is delivered fresh and full of authentic goodness.
        Your journey to timeless flavors starts here. Order now and savor the
        essence of Salloura!
      </p>
    </div>
    <div class="">
      <img
        src="/assets/shapes/world-map.svg"
        alt="World Map"
        class="rounded-3xl"
      />
    </div>
  </div>

  <FeaturesStats
    title="By the Numbers"
    subTitle="Our commitment to quality and reliability is evident in every project we undertake. At ScrewFast, we are dedicated to delivering industry-leading services that ensure your construction projects are built to last."
    mainStatTitle="96%"
    mainStatSubTitle="Customer Satisfaction Rate"
    stats={[
      {
        stat: "55+",
        description: "Resellers across Europe",
      },
      {
        stat: "95,000+",
        description: "Sold Products",
      },
      {
        stat: "131+",
        description: "Available Products",
      },
    ]}
  />
</section>
