---
import { Image } from "astro:assets";
import LinkButton from "../buttons/LinkButton.astro";

const {
  title,
  subTitle,
  ImageSrc,
  bgColor,
  cardWidth,
  btnColor,
  btnText,
  textColor = "text-black",
  totalProducts,
} = Astro.props;
---

<div
  class:list={[
    "group relative h-[300px] overflow-hidden rounded-3xl",
    bgColor,
    cardWidth,
    textColor,
  ]}
>
  <div class="relative z-10 flex flex-col space-y-3 p-8">
    <h2 class="z-10 text-4xl font-bold">{title}</h2>
    <p class="z-10 text-sm sm:w-2/3">{subTitle}</p>

    <LinkButton
      title={`View ${totalProducts ? totalProducts : "All"} Products`}
      bgColor={btnColor}
      url="/products"
    />
  </div>
  <Image
    src={ImageSrc}
    alt="Card Image"
    class="absolute -bottom-10 -right-10 z-0 h-48 w-48 object-contain transition-transform duration-300 group-hover:scale-110 sm:-bottom-24 sm:-right-16 sm:h-80 sm:w-80"
  />
  <!-- <div
    class="absolute inset-0 z-0 bg-gradient-to-r from-black to-transparent opacity-25"
  >
  </div> -->
</div>
