---
// Import necessary modules and utilities
import { Image } from "astro:assets";

import SallouraUgloImage1 from "@assets/images/salloura-uglo-1.webp";
import SallouraUgloImage2 from "@assets/images/salloura-uglo-2.webp";
import SallouraUgloImage3 from "@assets/images/salloura-uglo-3.webp";
import SallouraUgloImage4 from "@assets/images/salloura-uglo-4.webp";
import SallouraUgloImage5 from "@assets/images/salloura-uglo-5.webp";
import SallouraUgloImage6 from "@assets/images/salloura-uglo-6.webp";
import SallouraUgloImage7 from "@assets/images/salloura-uglo-7.webp";
import SallouraUgloImage8 from "@assets/images/salloura-uglo-8.webp";
import SallouraUgloImage9 from "@assets/images/salloura-uglo-9.webp";
import SallouraUgloImage10 from "@assets/images/salloura-uglo-10.webp";
import SallouraUgloImage11 from "@assets/images/salloura-uglo-11.webp";
import SallouraUgloImage12 from "@assets/images/salloura-uglo-12.webp";
import SallouraUgloImage13 from "@assets/images/salloura-uglo-13.webp";
import SallouraUgloImage14 from "@assets/images/salloura-uglo-14.webp";
import SallouraUgloImage15 from "@assets/images/salloura-uglo-15.webp";

// src: ArabicSweetImage1,
//     alt: "Arabic sweets in a decorative box",

// Your existing image array
const IMAGES = [
  // SallouraUgloImage1,
  // SallouraUgloImage2,
  // SallouraUgloImage3,
  // SallouraUgloImage4,
  // SallouraUgloImage5,
  // SallouraUgloImage6,
  SallouraUgloImage7,
  SallouraUgloImage8,
  SallouraUgloImage9,
  SallouraUgloImage10,
  SallouraUgloImage11,
  SallouraUgloImage12,
  SallouraUgloImage13,
  SallouraUgloImage14,
  SallouraUgloImage15,
];
---

<div class="scroll-container grid grid-cols-2">
  <div class="scroll-content-top">
    {
      IMAGES.map((imageSrc) => (
        <div class="m-1 rounded-2xl border-2 border-zinc-200 bg-zinc-100">
          <Image
            src={imageSrc}
            alt="Arabic sweets in a decorative box"
            format={"avif"}
            class="rounded-2xl"
            loading="eager"
          />
        </div>
      ))
    }
    {
      IMAGES.map((imageSrc) => (
        <div class="m-1 rounded-2xl border-2 border-zinc-200 bg-zinc-100">
          <Image
            src={imageSrc}
            alt="Arabic sweets in a decorative box"
            format={"avif"}
            class="rounded-2xl"
            loading="eager"
          />
        </div>
      ))
    }
  </div>

  <div class="scroll-content-bottom">
    {
      IMAGES.map((imageSrc) => (
        <div class="m-1 rounded-2xl border-2 border-zinc-200 bg-zinc-100">
          <Image
            src={imageSrc}
            alt="Arabic sweets in a decorative box"
            format={"avif"}
            class="rounded-2xl"
            loading="eager"
          />
        </div>
      ))
    }
    {
      IMAGES.map((imageSrc) => (
        <div class="m-1 rounded-2xl border-2 border-zinc-200 bg-zinc-100">
          <Image
            src={imageSrc}
            alt="Arabic sweets in a decorative box"
            format={"avif"}
            class="rounded-2xl"
            loading="eager"
          />
        </div>
      ))
    }
  </div>
</div>

<style>
  .scroll-container {
    /* overflow: hidden; */
    width: 110%; /* Adjust to your container size */
    height: 600px; /* Adjust to your container size */
    transform: rotate(10deg);
    transform-origin: bottom right;
  }

  .scroll-content-top {
    display: flex;
    flex-direction: column;
    animation: scroll-top 60s linear infinite;
  }

  .scroll-content-bottom {
    display: flex;
    flex-direction: column;
    animation: scroll-bottom 60s linear infinite;
  }

  @keyframes scroll-top {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-50%); /* Adjust based on content height */
    }
  }
  @keyframes scroll-bottom {
    from {
      transform: translateY(-50%);
    }
    to {
      transform: translateY(0); /* Adjust based on content height */
    }
  }
</style>
