---
import SectionTitle from "@/components/ui/section-title.astro";
import { SITE } from "@/data_files/constants";
import MainLayout from "@/layouts/MainLayout.astro";
import CartItems from "@/components/react/cart-items";

const pageTitle: string = `Cart | ${SITE.title}`;
---

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://screwfast.uk/products",
    url: "https://screwfast.uk/products",
    name: "Hardware Tools | ScrewFast",
    description:
      "Explore the durability and precision of ScrewFast tools, designed for both professionals and enthusiasts.",
    isPartOf: {
      "@type": "WebSite",
      url: "https://screwfast.uk",
      name: "ScrewFast",
      description:
        "ScrewFast offers top-tier hardware tools and expert construction services to meet all your project needs.",
    },
    inLanguage: "en-US",
  }}
>
  <section class="my-14">
    <SectionTitle
      title="Your Cart"
      subTitle="Provide your shipping details and proceed to checkout, our team will contact you for delivery and payment confirmation."
    />

    <CartItems client:load />
  </section>
</MainLayout>
