---
// Destructure the properties from Astro.props
const {
  title,
  url,
  bgColor,
  class: style = "text-white hover:bg-black",
} = Astro.props;

// Define TypeScript interface for the properties
interface Props {
  title?: string;
  url?: string;
  bgColor?: string;
  class?: string;
}
// Define CSS classes for the hyperlink button
---

<!-- Styled hyperlink -->
<a
  class:list={[
    "-ml-2 w-fit rounded-lg px-2 py-1 transition-all",
    bgColor,
    style,
  ]}
  href={url}
>
  {title}
</a>
